<!doctype html>
<html>
<head>
  <title>
    Welcome to the Quiz Show
  </title>
  <link rel="stylesheet" href="../public/global.css">
</head>
<body>
  <div id="quiz">
    <div id="question1" class="current_question">
      <div id="question1_content">

      </div>
      <div id="question1_choices">

      </div>
    </div>
    <div id="question2" class="question_template">
      <div id="question2_content">

      </div>
      <div id="question2_choices">

      </div>
    </div>
    <div id="question3" class="question_template">
      <div id="question3_content">

      </div>
      <div id="question3_choices">

      </div>
    </div>
    <div id="question4" class="question_template">
      <div id="question4_content">

      </div>
      <div id="question4_choices">

      </div>
    </div>
    <input type="text" id="answer">
    <button id="submitter">
      Submit
    </button>
  </div>
  <div id="question_result">
  </div>
  <button id="next">
    Next Question
  </button>
  <div id="total_result">
  </div>
  

</body>
  <script style="text/javascript" src="../public/global.js">
  </script>
</html>