.current_question {
    visibility: visible;
}

.question_template {
    visibility: hidden;
    position: absolute;
}

.secret {
    visibility: hidden;
    position: absolute;
}

#next {
    visibility: hidden;
}